<!-- @author Anshuman Ranjan -->

<section id="calculator">

  <h1> Scientific Calculator </h1>

  <%= partial "partials/screen_grid" %>

  <div id= "buttons">
    <div id= "memory_buttons">
      <%= partial "partials/memory_buttons" %>
    </div>
    <div id="operations">
      <%= partial "partials/ops" %>
    </div>
    <div id="functions">
      <%= partial "partials/funcs" %>
    </div>
    <div id= "numbers">
      <%= partial "partials/numbers" %>
    </div>
    <%= partial "partials/_mainCalls" %>
  </div>
</section>

<script src="/javascripts/equation.js"></script>
<script src="/javascripts/interactions.js"></script>
<script src="/javascripts/numbers.js"></script>
